/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */
html,
body {
	overflow-x: hidden;
}

#footer .email a {
    margin-left: 0%;
}
.main2 .color_block{
    padding-bottom: 390px;
}

.sort{
display: none !important;
}

.btn-default.white {
	color: #c21f13 !important;
}

.topmenu-COLOR .menu-only {
	background-color: transparent;
}

.mega-menu {
	background-color: #c21f13 !important;
}

.logo-row .top-callback .phone .fa, 
.logo-row .top-callback .email .fa {
	color: #a1a1a1;
}

.top-callback .callback .btn-default {
	color: #a1a1a1 !important;
	border-color: #a1a1a1;
}

.top-callback .callback .btn-default:hover {
	color: #fff !important;
	background-color: #a1a1a1;
	border-color: #a1a1a1;
}

.btn-default.white * {
	border: none;
	color: #c21f13 !important;
}

.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  border-color: #c21f13;
  background: #c21f13;
}

.btn-default.white:hover span,
.btn-default.white:active span,
.btn-default.white:focus span {
	color: #fff !important;
}

.mmit_logo {
	padding: 0 !important;
}
.portfolio.item-views .link .item .bottom_title .btn-default span {
	color: #fff !important;
}

.portfolio.item-views .link .item .bottom_title .btn-default:hover span {
	color: #c21f13 !important;
}

.topmenu-COLOR .mega-menu table td:hover .wrap > a,
.color_block,
.topmenu-COLOR .mega-menu table td:not(.js-dropdown):hover .wrap a.link_first {
  background-color: #94180e !important;
}